/* * Header Css start */

body {
  background-color: #000;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: 50px;
  z-index: 999;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*? Nav List start  */

.header .navbar .navList {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 35px;
}

.header .navbar .navList li a {
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
}

.header .navbar .navList li a:hover {
  color: #d6ad86;
}

/*? Nav List end  */

/* ? Dropdown start */

.blogItem {
  position: relative;
}

.blogItem a {
  text-decoration: none;
  padding: 10px 0;
  color: #333;
}

.blogList {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.blogList li a {
  padding: 10px 20px;
  color: #333 !important;
  display: block;
  white-space: nowrap;
}

.blogList li a:hover {
  background-color: #f0f0f0;
  color: #d3ad7f;
}

.blogItem:hover .blogList {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ? Dropdown end */

/* ? Nav Socials start */

.navSocials {
  display: flex;
  gap: 15px;
}

.navSocials i {
  color: #fff;
  font-size: 16px;
}

/* ? Nav Socials end */

/* * Header Css end */
.home {
  background-image: url(../../../assets/images/breadcrumb.png);
  height: 500px;
}
h1 {
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.heroAbout {
  padding-top: 200px;
}

body {
  background-color: #000;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: 50px;
  z-index: 999;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroAbout {
  padding-top: 200px;
}

/*? Nav List start  */

.header .navbar .navList {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 35px;
}

.header .navbar .navList li a {
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
}

.header .navbar .navList li a:hover {
  color: #d6ad86;
}

/*? Nav List end  */

/* ? Dropdown start */

.blogItem {
  position: relative;
}

.blogItem a {
  text-decoration: none;
  padding: 10px 0;
  color: #333;
}

.blogList {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.blogList li a {
  padding: 10px 20px;
  color: #333 !important;
  display: block;
  white-space: nowrap;
}

.blogList li a:hover {
  background-color: #f0f0f0;
  color: #d3ad7f;
}

.blogItem:hover .blogList {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ? Dropdown end */

/* ? Nav Socials start */

.navSocials {
  display: flex;
  gap: 15px;
}

.navSocials i {
  color: #fff;
  font-size: 16px;
}

/* ? Nav Socials end */

/* * Header Css end */
.home {
  background-image: url(../../../assets/images/breadcrumb.png);
  height: 500px;
}
h1 {
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sectionTwo {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.learnMore {
  border: 0px solid;
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  width: 150px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.learnMore:hover {
  background-color: #ffc107;
  transition: 0.5s;
}
.pi {
  color: #d6ad86;
  font-size: 18px;
}
h2 {
  font-size: 42px;
}
.about .row.marginmt {
  margin-top: 0;
}
.aboutUs {
  background-color: white;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
/* CONTACT */
.pWrite {
  color: #555555 !important;
  font-size: 16px;
}
.contact h5 {
  font-size: 15px;
}
h3 {
  font-size: 30px;
}
.contactUs {
  background-image: url(../../images/contact_bg.png.webp);
  height: 90vh;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.contact {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 60px;
  width: 45%;
  height: 420px;
}
.contact h3 {
  font-weight: 450;
  font-family: "Playfair Display", serif;
}
.contact h5 {
  font-weight: 400;
  margin-bottom: 10px;
}
.contact a {
  color: #000;
  font-size: 16px;
}
/* CONTACT */

/* FOOTER sTART */
footer {
  background-color: #1c1a18;
}
footer p,
a,
h2 {
  color: white;
}
.endSection {
  display: flex;
  gap: 30px;
  padding: 100px;
}
.footerrr {
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  /* padding: 100px; */
}
.first {
  display: flex;
}
.quicks{
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.quicksEnd{
  display: flex;
  gap: 40px;
}
.aMail{
  color: #d6ad86;
}
.aWrite{
  color: #6b6666 ;
  font-weight: 500;
}
.quicksEnd a{
  color: #6b6666 ;
  font-weight: 500;
}
.iconsEnd{
  display: flex;
  gap: 10px;
}
.newsLetter h2{
  font-size: 25px;
  font-family: "Playfair Display", serif;
  
}
.newsLetter p{
  color: #6b6666;
}
.newsLetter input{
  width: 80%;
  height: 40px;
}
.inputa{
  position: relative;
}
.newsLetter a{
  border: 0px solid;
  background-color: #d6ad86;
  padding: 10px;
  position: absolute;
  right: 21px;
}
.colorlib{
  text-align: center;
}
/* FOOTER END */


footer p,
a,
h2 {
  color: white;
}
.endSection {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.delicious h2 {
  color: #000;
  font-family: "Playfair Display", serif;
}
.videoMpFour {
  background-image: url(../../images/intro_video_bg.png.webp);
  height: 70vh;
  position: relative;
}
.videoMpFour a {
  border: 0px solid;
  background-color: #d6ad86;
  padding: 30px 35px;
  border-radius: 100%;
  /* justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; */
  top: 45%;
  left: 45%;
  position: absolute;
}
.videoMpFour a:hover {
  background-color: #d3ad7f80;
}
