/* * Header Css start */

body {
  background-color: #000;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: 50px;
  z-index: 999;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*? Nav List start  */

.header .navbar .navList {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 35px;
}

.header .navbar .navList li a {
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
}

.header .navbar .navList li a:hover {
  color: #d6ad86;
}

/*? Nav List end  */

/* ? Dropdown start */

.blogItem {
  position: relative;
}

.blogItem a {
  text-decoration: none;
  padding: 10px 0;
  color: #333;
}

.blogList {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.blogList li a {
  padding: 10px 20px;
  color: #333 !important;
  display: block;
  white-space: nowrap;
}

.blogList li a:hover {
  background-color: #f0f0f0;
  color: #d3ad7f;
}

.blogItem:hover .blogList {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ? Dropdown end */

/* ? Nav Socials start */

.navSocials {
  display: flex;
  gap: 15px;
}

.navSocials i {
  color: #fff;
  font-size: 16px;
}

/* ? Nav Socials end */

/* * Header Css end */
.home {
  background-image: url(../../../assets/images/breadcrumb.png);
  height: 500px;
}
h1 {
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.heroAbout {
  padding-top: 200px;

}

body {
  background-color: #000;
}
.header {
  position: fixed;
  width: 100%;
  margin-top: 50px;
  z-index: 999;
}

.header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroAbout {
  padding-top: 200px;
}

/*? Nav List start  */

.header .navbar .navList {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 35px;
}

.header .navbar .navList li a {
  font-size: 16px;
  color: #fff;
  transition: all 0.2s ease;
}

.header .navbar .navList li a:hover {
  color: #d6ad86;
}

/*? Nav List end  */

/* ? Dropdown start */

.blogItem {
  position: relative;
}

.blogItem a {
  text-decoration: none;
  padding: 10px 0;
  color: #333;
}

.blogList {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 999;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  border-radius: 10px;
}

.blogList li a {
  padding: 10px 20px;
  color: #333 !important;
  display: block;
  white-space: nowrap;
}

.blogList li a:hover {
  background-color: #f0f0f0;
  color: #d3ad7f;
}

.blogItem:hover .blogList {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ? Dropdown end */

/* ? Nav Socials start */

.navSocials {
  display: flex;
  gap: 15px;
}

.navSocials i {
  color: #fff;
  font-size: 16px;
}

/* ? Nav Socials end */

/* * Header Css end */
.home {
  background-image: url(../../../assets/images/breadcrumb.png);
  height: 500px;
}
h1 {
  color: white;
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sectionTwo {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.row.marginmt{
  padding-top: 70px;
  padding-bottom: 70px;
}
.heroAbout h1{
  font-weight: 300;
  font-family: "Playfair Display", serif;
}
.learnMore {
  border: 0px solid;
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  width: 150px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.learnMore:hover {
  background-color: #ffc107;
  transition: 0.5s;
}
.pi {
  color: #d6ad86;
  font-size: 18px;
}
h2 {
  font-size: 42px;
}
.about .row.marginmt {
  margin-top: 0;
}

.aboutUs {
  background-color: white;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

/* * Testimonials Css start */

.testimonials {
  background-color: #fff;
}

.testimonials .secCap {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 80px;
}

.testimonials .secCap h5 {
  color: #d6ad86;
  padding-bottom: 20px;
}

.testimonials .secCap h2 {
  color: #000;
}

.userBox {
  display: flex;
  gap: 20px;
}

.user {
  display: flex;
  margin-top: 20px;
}

.comment {
  border: 1px solid #eee;
}

.comment p {
  font-size: 16px;
  line-height: 28px;
  padding: 20px 28px;
  border: 1px solid #f6ede4;
  margin: 1px;
}

.userInfo {
  margin-left: 10px;
}

.userInfo h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  padding-top: 6px;
  line-height: 15px;
  font-weight: 400;
}

.userInfo .stars i {
  font-size: 16px;
  color: #ffb830;
}

.pagination {
  display: flex;
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: center;
  gap: 10px;
}

.pagination span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f7efe7;
  margin: 5px;
}

/* * Testimonials Css end */

/* CONTACT */
.pWrite {
  color: #555555 !important;
  font-size: 16px;
}
.contact h5 {
  font-size: 15px;
}
h3 {
  font-size: 30px;
}
.contactUs {
  background-image: url(../../images/contact_bg.png.webp);
  height: 90vh;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
}
.contact {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 60px;
  width: 45%;
  height: 420px;
}
.contact h3 {
  font-weight: 450;
  font-family: "Playfair Display", serif;
}
.contact h5 {
  font-weight: 400;
  margin-bottom: 10px;
}
.contact a {
  color: #000;
  font-size: 16px;
}
/* CONTACT */

/* * Footer Css start */

.footer {
  padding-top: 100px;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .leftSide {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 33%;
}

.footer .leftSide a {
  font-size: 14px;
}

.footer .leftSide .footerContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}

.footer .leftSide .footerSocials {
  padding-top: 30px;
}

.footer .middle {
  width: 33%;
}

.middle .footerTittle {
  color: #fff;
  font-size: 22px;
  padding-bottom: 20px;
}

.middle .links {
  display: flex;
  gap: 50px;
}

.middle .links ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.middle .links ul li a {
  font-size: 16px;
  color: #747171;
}

.footer .righSide {
  width: 33%;
}

.righSide .footerTittle {
  color: #fff;
  font-size: 22px;
  padding-bottom: 20px;
}

.righSide form input {
  padding: 10px 0;
  position: relative;
}

.righSide form {
  padding-bottom: 20px;
}

.righSide p {
  font-size: 16px;
  color: #747171;
}

.righSide form i {
  background-color: #d6ad86;
  color: #fff;
  padding: 11.9px;
  position: absolute;
}

.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright p {
  font-size: 16px;
  color: #747171;
}

.copyright a {
  color: #d6ad86;
}

/* * Footer Css end */


footer p,
a,
h2 {
  color: white;
}
.endSection {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.delicious h2 {
  color: #000;
  font-family: "Playfair Display", serif;
}
.videoMpFour {
  background-image: url(../../images/intro_video_bg.png.webp);
  height: 70vh;
  position: relative;
}
.videoMpFour a {
  border: 0px solid;
  background-color: #d6ad86;
  padding: 30px 35px;
  border-radius: 100%;
  top: 45%;
  left: 45%;
  position: absolute;
}
.videoMpFour a:hover {
  background-color: #d3ad7f80;
}
